@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.footer {
  width: 100%;
  font-family: theme.$font-family-primary;
  color: theme.$font-color-contrast;
  text-align: center;
  background-color: theme.$branding-color-tertiary;

  @include flex-column;
}
