@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.action {
  height: 36px !important;

  @include action-button;

  @include media.mobile {
    overflow: hidden;
  }
}

.wide {
  width: 100%;
  height: 36px !important;

  @include action-button;

  @include media.mobile {
    overflow: hidden;
  }
}

.addProduct {
  width: 100%;
  height: 52px !important;

  @include action-button;

  @include media.mobile {
    overflow: hidden;
  }
}

.logout {
  @include reset-button;
  :hover {
    opacity: theme.$opacity-hover;
  }
}

.navigation,
.slider {
  @include reset-button;

  color: inherit;
}

.navigationActive {
  @include reset-button;

  color: theme.$branding-color-primary !important;
}

.openMobileMenu {
  @include reset-button;

  color: inherit;
}

.counter {
  @include reset-button;

  cursor: pointer;
}

.cartQuantity,
.cartDelete {
  @include reset-button;

  width: 32px;
  height: 32px;
  color: theme.$font-color-light;
  cursor: pointer;
}

.languages {
  @include reset-button;

  cursor: pointer;
}

.cancelForm {
  @include form-cancel-button;
}
.navbarCategories {
  @include modal-form-button;
  @include flex-align-center;
  justify-content: space-between;
  color: theme.$font-color-contrast;
  border: 2px solid theme.$font-color-contrast;
  background-color: transparent;
  min-width: 186px;
}

.deleteItem {
  @include form-cancel-button;

  width: 120px;
}

.saveItem {
  @include form-save-button;

  width: 120px;
}

.saveForm {
  @include form-save-button;
}

.closeModal {
  border: none;
  background: transparent;
  color: theme.$font-color-primary;
  cursor: pointer;

  &:hover {
    background: theme.$background-color-hover-secondary;
    border-radius: theme.$border-radius-small;
  }
}

.filterOption {
  @include reset-button;

  @include typography-medium-normal;

  cursor: pointer;
  color: theme.$font-color-light;
}

.sidebarHeader {
  @include cancel-option-small-button;

  background: theme.$background-color-tertiary-button;
  border: 2px solid theme.$background-color-tertiary-button;
  color: theme.$font-color-dark;

  &:hover {
    background-color: theme.$background-color-hover-secondary;
  }
}

.cancelSearch {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  background-color: theme.$font-color-primary;
  border: none;
  cursor: pointer;
  border-radius: theme.$border-radius-circle;
  color: theme.$font-color-dark;
  height: 20px;
  min-width: 20px;

  @include flex-all-center;
}
