@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.actionButton {
  @include action-button;

  width: 160px;
  height: 36px;
  margin-left: theme.$spacing-regular;
  font-size: theme.$font-size-small;
  text-transform: none;

  @include media.mobile {
    width: 120px;
    overflow: hidden;
  }
}
