@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.wrapper {
  display: flex;
  width: 100%;

  @include input-container-spacing;

  @include media.mobile {
    flex-direction: column;
  }
}

.container {
  justify-content: center;
  width: 160px;
  margin-right: theme.$spacing-regular;

  @include flex-column-align-center;

  @include media.mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.imageContainer {
  width: 140px;
  height: 260px;

  @include flex-all-center;

  @include media.mobile {
    width: 140px;
    width: 5rem;
    height: 160px;
  }
}

.image {
  border-radius: theme.$border-radius-small;

  @include responsive-image;
}

.item {
  width: 540px;
  margin: theme.$spacing-regular 0;

  @include flex-column-justify-center;

  @include media.tablet-down {
    width: 340px;
  }

  @include media.mobile {
    width: 100%;
  }
}

.inputContainer {
  @include input-container-spacing;
}
