@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.list {
  position: absolute;
  left: 24px;
  z-index: theme.$z-index-product-search-dropdow;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 4px 0;
  background-color: theme.$background-color-form-primary;
  border-radius: theme.$border-radius-small;
  box-shadow: theme.$box-shadow-primary;

  @include media.mobile {
    width: 86%;
  }

  .item {
    display: flex;
    align-items: center;
    width: 96%;
    height: 100px;
    padding: theme.$spacing-smaller;
    margin: theme.$spacing-smallest 0;
    font-size: theme.$font-size-small;
    line-height: theme.$line-height-primary;
    list-style-type: none;
    cursor: pointer;
    background-color: theme.$background-color-primary;
    border-radius: theme.$border-radius-small;
    box-shadow: theme.$box-shadow-light;

    &:hover {
      scale: 1.01;
    }

    .content {
      display: block;
      font-weight: theme.$font-weight-normal;
      color: theme.$font-color-primary;
    }

    .imageContainer {
      width: 33px;
      height: 84px;
      margin-right: theme.$spacing-regular;

      .image {
        @include responsive-image;
      }
    }
  }
}
