@use "../theme" as theme;
@use "./functions" as functions;

///////////////
///
///
@mixin flex-horizontal-center {
  display: flex;
  justify-content: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-horizontal-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-all-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/////////////
///
///

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-center-column {
  @include flex-center;

  flex-direction: column;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

@mixin flex-start-column {
  @include flex-start;

  flex-direction: column;
}

@mixin full-width-and-height {
  width: 100%;
  height: 100%;
}

@mixin product-card-name {
  margin: 0;
  font-family: theme.$main-font-family;
  font-size: 1.125rem;
  font-weight: 500;
  color: theme.$secondary-color;
  text-align: center;
}

@mixin product-cart-purshase-button {
  min-width: 64px;
  max-height: 60px;
  padding: 16px;
  overflow: hidden;
  font-family: theme.$main-font-family;
  font-size: 1rem;
  font-weight: 500;
  color: theme.$primary-color;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  cursor: pointer;
  background-color: theme.$branding-background-color;
  border: none;
  border-radius: 4px;
  box-shadow: theme.$main-box-shadow;
}

@mixin input-styles-reset {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

@mixin reset-button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

@mixin shipping-info-cell {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 20px;
}

@mixin z-index($key) {
  z-index: functions.get-z-index($key);
}

@mixin newsleter-input-and-button-wrapper {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #333;
  border: none;
  border-radius: 5px;
}

@mixin menu-list-cell {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  line-height: 1.3em;
  text-transform: uppercase;
  border-bottom: solid grey 1px;
}

@mixin menu-list-item {
  display: flex;
  align-items: center;
  width: 90%;
  height: 60px;
  padding: 20px;
  margin: auto;
  font-size: 16px;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.0094em;
  list-style-type: none;
  cursor: pointer;
  border-bottom: 1px solid gray;
}
