@use "../theme" as theme;
@use "../media" as media;
@use "./functions" as functions;

// FLEX MIXINS

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-all-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

@mixin flex-justify-around {
  display: flex;
  justify-content: space-around;
}

@mixin flex-center-column {
  @include flex-all-center;

  flex-direction: column;
}

@mixin flex-align-start-justify-around {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

@mixin flex-column-align-start-justify-around {
  @include flex-align-start-justify-around;

  flex-direction: column;
}

@mixin product-card-name {
  margin: 0;
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-medium;
  font-weight: theme.$font-weight-semibold;
  color: theme.$font-color-light;
  text-align: center;
}

@mixin action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 124px;
  height: 60px;
  overflow: hidden;
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-small;
  font-weight: theme.$font-weight-semibold;
  color: theme.$font-color-primary;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  cursor: pointer;
  background-color: theme.$color-branding-primary;
  border: none;
  border-radius: theme.$border-radius-small;
  box-shadow: theme.$box-shadow-primary;
}

@mixin input-styles-reset {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

@mixin reset-button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

@mixin shipping-info-cell {
  width: 50%;
  margin-bottom: theme.$spacing-semi-regular-large;

  @include flex-column;
}

@mixin z-index($key) {
  z-index: functions.get-z-index($key);
}

@mixin newsleter-input-and-button-wrapper {
  width: 30%;
  padding: 10px;
  font-size: theme.$font-size-medium;
  color: theme.$font-color-primary;
  text-align: center;
  cursor: pointer;
  background-color: theme.$background-color-secondary-button;
  border: none;
  border-radius: theme.$border-radius-small;
}

@mixin menu-list-cell {
  width: 100%;
  padding: theme.$spacing-semi-regular-large;
  font-size: theme.$font-size-medium;
  line-height: 1.3em;
  text-transform: uppercase;
  border-bottom: solid grey 1px;
}

@mixin menu-list-item {
  display: flex;
  align-items: center;
  width: 90%;
  height: 60px;
  padding: theme.$spacing-semi-regular-large;
  margin: auto;
  font-size: theme.$font-size-small;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.0094em;
  list-style-type: none;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

@mixin margin-page-wrapper {
  margin-bottom: 80px;

  @include media.desktop-down {
    margin-bottom: 40px;
  }

  @include media.mobile {
    margin-bottom: theme.$spacing-regular-large;
  }
}

@mixin error-message {
  font-weight: theme.$font-weight-semibold;
  color: red;
}

@mixin form-action-button {
  @include action-button;

  width: 160px;
  height: 36px;
  overflow: hidden;
  font-size: theme.$font-size-small;
  text-transform: none;

  @include media.mobile {
    width: 120px;
  }
}

@mixin form-field {
  height: theme.$height-form-field;
  margin-bottom: theme.$margin-bottom-form-field;
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-form-field;
}

@mixin label-form-field {
  display: flex;
  justify-content: flex-start;
  margin-bottom: theme.$margin-bottom-label-form-field;
}

@mixin component-container-large {
  width: 100%;
  margin: theme.$spacing-regular 0;
}

@mixin component-title {
  margin-bottom: theme.$spacing-semi-regular;
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-subtitle;
  font-weight: theme.$font-weight-semibold;
}

@mixin subtitle-text {
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-medium;
  font-weight: theme.$font-weight-regular;
  line-height: theme.$line-height-primary;
}

@mixin title-text {
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-semi-title;
  font-weight: theme.$font-weight-semibold;
  line-height: theme.$line-height-primary;
}

@mixin property-font {
  font-size: theme.$font-size-medium;
}

@mixin value-font {
  font-size: theme.$font-size-small;
}

@mixin input-container-spacing {
  margin: theme.$spacing-regular 0;
}

@mixin input-container-spacing-small {
  margin: theme.$spacing-small 0;
}
