@use "@/styles/theme" as theme;
@import "@/styles/helpers/mixins";

.wrapper {
  width: 100%;

  @include flex-column-all-center;
}

.link {
  font-weight: theme.$font-weight-semibold;
  color: theme.$branding-color-primary;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.listItem {
  margin-bottom: theme.$spacing-small;
  text-align: center;
  width: 100%;
}

.list {
  width: 100%;
  align-items: flex-start;

  @include flex-column-justify-center;
}
