@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.container {
  width: 20%;
  padding: theme.$spacing-semi-regular-large;

  @include flex-column-align-center;

  @include media.tablet-down {
    width: 40%;
  }

  @include media.mobile {
    width: 100%;
  }
}

.title {
  display: flex;
  align-items: flex-start;
  min-height: 48px;
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-medium;
  font-weight: theme.$font-weight-medium;
  text-align: center;
}

.text {
  height: fit-content;
  min-height: 120px;
  margin-bottom: theme.$spacing-small;
  overflow: hidden;
  font-family: theme.$font-family-primary;
  text-align: center;

  @include typography-medium-normal;
  @include flex-align-center;

  @include media.fullscreen-down {
    height: 168px;
  }

  @include media.widescreen-down {
    height: 180px;
  }

  @include media.desktop-down {
    height: 240px;
  }

  @include media.tablet-down {
    height: 140px;
  }

  @include media.mobile {
    height: 120px;
  }
}

.icon {
  font-size: theme.$font-size-huge;
}
