@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.footerWrapper {
  width: 100%;
  font-family: "GFS Neohellenic", sans-serif;
  color: grey;
  text-align: center;
  background-color: white;

  .footer {
    display: flex;
    flex-direction: column;
  }

  .startSection {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .startSectionText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    font-size: 26px;
    font-weight: 400;
  }

  .startSectionText::before,
  .startSectionText::after {
    flex: 1 1;
    margin: auto;
    content: "";
    border-bottom: 1px solid;
  }

  .startSectionText::before {
    margin-right: 10px;
  }

  .startSectionText::after {
    margin-left: 10px;
  }

  .pageFooter li {
    list-style: none;
  }

  .pageFooter ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .newsletterSection {
    display: flex;
    justify-content: center;
    margin: 32px 0;
  }

  .registrationFormContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .registrationFormLabel {
    font-size: 16px;
  }

  .registrationFormWrapper {
    width: 60%;
    padding: 1em;
    background: #f0f0f0;
    border-radius: 5px;
    box-shadow: theme.$box-shadow-primary;

    @include media.tablet-down {
      width: 90%;
    }
  }

  .registrationEmailInputAndButtonWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
  }

  .registrationEmailInputWrapper {
    width: 65%;
  }

  .registrationEmailInputWrapper input {
    width: 90%;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .registrationEmailButtonWrapper {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #333;
    border: none;
    border-radius: 5px;
  }

  .registrationEmailButtonWrapper:hover {
    background-color: #444;
  }

  .registrationDataConsentText {
    min-width: 300px;
    max-width: 90%;
    margin-top: 1em;
    font-size: 14px;
    font-style: italic;
    text-align: center;
  }

  .columnsSectionItemTitle {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-family: "GFS Neohellenic", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  .columnsSectionItemLinks a {
    color: grey;
    text-decoration: none;
  }

  .iconsSection {
    display: flex;
    height: fit-content;
  }

  .iconsSectionElements {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;

    @include media.desktop-down {
      margin: 0 20px;
    }

    @include media.tablet-down {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      margin-bottom: 32px;
    }
  }

  .iconsSectionItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .iconsSectionItemTitle {
    height: 40px;

    @include flex-all-center;

    font-size: 18px;
    font-weight: 300;
  }

  .iconsSectionItemIcons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    svg[data-icon="dhl"] {
      width: 60px;
      height: 60px;
    }

    svg[data-icon="ups"] {
      width: 40px;
      height: 40px;
    }
  }

  .columnsSection {
    display: flex;
    height: auto;
    margin-bottom: 32px;
  }

  .columnsSectionElements {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;

    @include media.tablet-down {
      flex-direction: column;
      align-items: center;
    }
  }

  .columnsSectionItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 12px 0;
  }

  .columnsSectionItemLinks {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  .underSection {
    display: flex;
    justify-content: center;
  }

  .underSectionTextIcon {
    font-size: 16px;
  }

  .underSectionText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    font-size: 28px;
    font-weight: 400;
  }

  .underSectionText::before,
  .underSectionText::after {
    flex: 1 1;
    margin: auto;
    content: "";
    border-bottom: 1px solid;
  }

  .underSectionText::before {
    margin-right: 10px;
  }

  .underSectionText::after {
    margin-left: 10px;
  }
}
