@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.pageFooter {
  width: 100%;
  font-family: "GFS Neohellenic", sans-serif;
  color: grey;
  text-align: center;
  background-color: white;
}

.footerContent {
  display: flex;
  flex-direction: column;
}

.footerStartSection {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 800;
  text-transform: capitalize;
}

.registrationFormTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.footerStartSectionText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  font-size: 26px;
  font-weight: 600;
}

.footerStartSectionText::before,
.footerStartSectionText::after {
  flex: 1 1;
  margin: auto;
  content: "";
  border-bottom: 1px solid;
}

.footerStartSectionText::before {
  margin-right: 10px;
}

.footerStartSectionText::after {
  margin-left: 10px;
}

.pageFooter li {
  list-style: none;
}

.pageFooter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footerNewsletterSection {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.registrationFormContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registrationFormLabel {
  font-size: 16px;
}

.registrationFormLabelWrapper {
  margin-bottom: 1em;
  text-align: center;
}

.registrationFormWrapper {
  width: 60%;
  padding: 1em;
  background: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
}

.registrationEmailInputAndButtonWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.registrationEmailInputWrapper {
  width: 65%;
}

.registrationEmailInputWrapper input {
  width: 90%;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.registrationEmailButtonWrapper {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #333;
  border: none;
  border-radius: 5px;
}

.registrationEmailButtonWrapper:hover {
  background-color: #444;
}

.registrationDataConsentText {
  min-width: 300px;
  max-width: 90%;
  margin-top: 1em;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

.columnsSectionItemTitle {
  display: flex;
  align-items: center;
  height: 60px;
  font-family: "GFS Neohellenic", sans-serif;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}

.columnsSectionItemLinks a {
  color: grey;
  text-decoration: none;
}

.iconsSection {
  display: flex;
  height: 160px;
}

.iconsSectionElements {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
}

.iconsSectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.iconsSectionItemTitle {
  height: 40px;

  @include flex-center;

  font-size: 18px;
  font-weight: 300;
}

.iconsSectionItemIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
}

.columnsSection {
  display: flex;
  height: 16rem;
}

.columnsSectionElements {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
}

.columnsSectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 240px;
}

.columnsSectionItemLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 160px;
}

.footerUnderSection {
  display: flex;
  justify-content: center;
}

.footerUnderSectionTextIcon {
  font-size: 16px;
}

.footerUnderSectionText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  font-size: 28px;
  font-weight: 600;
}

// for the lines on the sides
.footerUnderSectionText::before,
.footerUnderSectionText::after {
  flex: 1 1;
  margin: auto;
  content: "";
  border-bottom: 1px solid;
}

.footerUnderSectionText::before {
  margin-right: 10px;
}

.footerUnderSectionText::after {
  margin-left: 10px;
}
