@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.footerWrapper {
  width: 100%;
  font-family: theme.$font-family-primary;
  color: theme.$font-color-primary;
  text-align: center;
  background-color: theme.$background-color-primary;

  .footer {
    @include flex-column;
  }

  .startSection {
    font-size: theme.$font-size-semi-large;
    font-weight: theme.$font-weight-regular;
    text-transform: capitalize;

    @include flex-justify-center;
  }

  .startSectionText {
    width: 90%;
    font-size: theme.$font-size-large;
    font-weight: theme.$font-weight-regular;

    @include flex-justify-center;
  }

  .startSectionText::before,
  .startSectionText::after {
    flex: 1 1;
    margin: auto;
    content: "";
    border-bottom: 1px solid;
  }

  .startSectionText::before {
    margin-right: theme.$spacing-small;
  }

  .startSectionText::after {
    margin-left: theme.$spacing-small;
  }

  .pageFooter li {
    list-style: none;
  }

  .pageFooter ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .newsletterSection {
    margin: theme.$spacing-semi-large 0;

    @include flex-justify-center;
  }

  .registrationFormContent {
    @include flex-column-align-center;
  }

  .registrationFormLabel {
    font-size: theme.$font-size-medium;
  }

  .registrationFormWrapper {
    width: 60%;
    padding: theme.$spacing-semi-regular;
    background: theme.$background-color-secondary;
    border-radius: theme.$border-radius-regular;
    box-shadow: theme.$box-shadow-primary;

    @include media.tablet-down {
      width: 90%;
    }
  }

  .registrationEmailInputAndButtonWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: theme.$spacing-semi-regular;
  }

  .registrationEmailInputWrapper {
    width: 65%;
  }

  .registrationEmailInput {
    width: 90%;
    padding: theme.$spacing-semi-regular-large;
    font-family: theme.$font-family-primary;
    font-size: theme.$font-size-medium;
    border: 1px solid theme.$border-color-custom-input;
    border-radius: theme.$border-radius-small;
  }

  .registrationEmailButtonWrapper {
    @include newsleter-input-and-button-wrapper;
    @include flex-align-center;
  }

  .registrationEmailButtonWrapper:hover {
    background-color: theme.$background-color-secondary-button-hover;
  }

  .registrationDataConsentText {
    min-width: 300px;
    max-width: 90%;
    margin-top: theme.$spacing-semi-regular;
    font-size: theme.$font-size-small;
    font-style: italic;
    text-align: center;
  }

  .columnsSectionItemTitle {
    display: flex;
    align-items: center;
    margin-bottom: theme.$spacing-small;
    font-family: theme.$font-family-primary;
    font-size: theme.$font-size-subtitle;
    font-weight: theme.$font-weight-regular;
    text-align: center;
  }

  .columnsSectionItemLinks a {
    color: theme.$font-color-light;
    text-decoration: none;
  }

  .iconsSection {
    display: flex;
    height: fit-content;
  }

  .iconsSectionElements {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;

    @include media.desktop-down {
      margin: 0 theme.$spacing-regular;
    }

    @include media.tablet-down {
      gap: theme.$spacing-regular;
      margin-bottom: theme.$spacing-semi-large;

      @include flex-column-align-center;
    }
  }

  .iconsSectionItem {
    width: 100%;

    @include flex-column-align-center;
  }

  .iconsSectionItemTitle {
    height: 40px;
    font-size: theme.$font-size-medium;
    font-weight: theme.$font-weight-regular;

    @include flex-all-center;
  }

  .iconsSectionItemIcons {
    justify-content: space-evenly;
    width: 100%;

    @include flex-align-center;

    svg[data-icon="dhl"] {
      width: 60px;
      height: 60px;
    }

    svg[data-icon="ups"] {
      width: 40px;
      height: 40px;
    }
  }

  .columnsSection {
    display: flex;
    height: auto;
    margin-bottom: theme.$spacing-semi-large;
  }

  .columnsSectionElements {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;

    @include media.tablet-down {
      @include flex-column-align-center;
    }
  }

  .columnsSectionItem {
    width: 100%;
    margin: theme.$spacing-small 0;

    @include flex-column-align-center;
  }

  .columnsSectionItemLinks {
    gap: theme.$spacing-semi-regular;
    justify-content: space-evenly;
    width: 100%;

    @include flex-column-align-center;
  }

  .underSection {
    @include flex-justify-center;
  }

  .underSectionTextIcon {
    font-size: theme.$font-size-subtitle;
  }

  .underSectionText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    font-size: theme.$font-size-subtitle;
    font-weight: theme.$font-weight-regular;
  }

  .underSectionText::before,
  .underSectionText::after {
    flex: 1 1;
    margin: auto;
    content: "";
    border-bottom: 1px solid;
  }

  .underSectionText::before {
    margin-right: theme.$spacing-small;
  }

  .underSectionText::after {
    margin-left: theme.$spacing-small;
  }
}
