@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.form {
  @include flex-column;

  margin: theme.$margin-form-container;

  @include media.tablet-down {
    margin: theme.$margin-form-container-mobile;
  }
}

.formField {
  width: 100%;

  @include form-field;
}

.label {
  @include label-form-field;
}

.formButton {
  @include form-action-button;
}
