@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 48px;

  @include media.mobile {
    flex-direction: column;
  }

  .avatar {
    width: 80px;
    height: 80px;
    margin: theme.$spacing-small;
    border-radius: theme.$border-radius-circle;

    @include media.mobile {
      width: 100px;
      height: 100px;
    }
  }

  .avatarContainer {
    background-color: theme.$color-branding-primary;
    border-radius: theme.$border-radius-large;
  }

  .header {
    width: 100%;
    font-family: theme.$font-family-primary;
    font-size: theme.$font-size-subtitle;
    font-weight: theme.$font-weight-semibold;

    @include media.mobile {
      font-size: 16px;
    }
  }

  .dataContainer {
    display: flex;
    align-items: center;

    .userDataTable {
      flex-grow: 1;
      height: 58px;
      margin-left: theme.$spacing-extra-large;
      border-radius: theme.$border-radius-large;

      .tableHead,
      .tableBody {
        height: 50%;
        text-align: left;

        td,
        th {
          width: 33.33%;
          padding: 0 24px;
        }
      }
    }
  }
}
