@import "#styles/helpers/mixins";

.modal {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(0 0 0 / 50%);
  transition: opacity 0.3s ease-in-out;

  @include flex-all-center;
}

.notificationCard {
  @include action-button;

  width: 300px;
  height: 100px;
  padding: 0 20px;
}
