@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.productCardWrapper {
  flex-flow: column nowrap;
  min-height: 406px;
  margin: theme.$spacing-small;
  overflow: hidden;
  text-align: center;
  border: 1px solid theme.$branding-color-primary;
  border-radius: theme.$border-radius-regular;

  @include flex-align-center;

  .productCardBodyWrapper {
    width: 200px;
    margin: theme.$spacing-regular;

    @include flex-column-align-center;

    .productCardBody {
      margin-bottom: theme.$spacing-semi-regular-large;
    }

    .addButtonContainer {
      pointer-events: auto;
      opacity: 1;
    }
  }

  .addButton {
    @include action-button;
  }

  .productCardName {
    @include product-card-name;
  }

  .imageContainer {
    @include flex-all-center;

    .image {
      max-width: 130px;
      height: 200px;
      min-height: 200px;
      margin: theme.$spacing-semi-regular 0;
      background-color: theme.$background-color-primary;
      object-fit: contain;
    }
  }

  .productCardSize,
  .productCardPrice {
    margin: 0;
    font-family: theme.$font-family-primary;
    font-size: theme.$font-size-semi-medium;
    font-weight: theme.$font-weight-regular;
    color: theme.$font-color-light;
  }

  .productCardDescription {
    margin-bottom: theme.$spacing-small;
    font-family: theme.$font-family-primary;
    font-size: theme.$font-size-small;
    color: theme.$font-color-light;
  }
}
