@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.activeCategory {
  color: theme.$branding-background-color;
}

.sidebarItem {
  @include menu-list-item;

  @include media.tablet {
    border-bottom: 0;
  }

  @include media.tablet {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 24px;
  }

  &:last-child {
    @include media.tablet-down {
      border-bottom: white 1px solid !important;
    }
  }
}
