@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.sidebarWrapper {
  display: flex;
  width: 12%;

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 150px;
  }

  .sidebarItem {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.5;
    color: theme.$secondary-color;
    letter-spacing: 0.0094em;
    list-style-type: none;
    cursor: pointer;
    border-radius: 4px;
  }
}
