$border-regular-component: solid 1px #757575;
$border-regular-image: solid 1px #b5cfaa;
$border-form-input: solid 2px #616161;
$border-radius-small: 4px;
$border-radius-regular: 8px;
$border-radius-large: 12px;
$border-radius-huge: 16px;
$border-radius-circle: 50%;
$scale-item-small: 1.1;
$background-color-primary: #fff;
$background-color-secondary: #f0f0f0;
$background-color-form-primary: #f4f4f4;
$background-color-form-secondary: #e9e9e9;
$background-color-secondary-button: #333;
$background-color-secondary-button-hover: #444;
$background-color-tertiary-button: rgba(255, 255, 255, 0);
$background-color-light: #f7f7f7;
$background-color-hover-secondary: #e3e3e3;
$border-color-custom-input: #ddd;
$branding-color-primary: #721970;
$branding-color-secondary: #b5cfaa;
$branding-color-tertiary: #6e4a9e;
$line-height-primary: 128%;
$font-color-primary: #686868;
$font-color-dark: #000;
$font-color-contrast: #fff;
$font-color-light: #757575;
$font-color-input: #3a3a3a;
$font-color-label: #616161;
$font-family-primary: "Lato", sans-serif;
$font-size-huge: 3rem;
$font-size-semi-huge: 2.5rem;
$font-size-extra-large: 2rem;
$font-size-large: 1.75rem;
$font-size-semi-large: 1.5rem;
$font-size-medium: 1.25rem;
$font-size-semi-medium: 1.125rem;
$font-size-small: 1rem;
$font-size-smallest: 0.75rem;
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$spacing-extra-huge: 6rem;
$spacing-huge: 5rem;
$spacing-extra-large: 4.5rem;
$spacing-semi-extra-large: 3rem;
$spacing-large: 2.5rem;
$spacing-semi-large: 2rem;
$spacing-regular-large: 1.75rem;
$spacing-regular: 1.5rem;
$spacing-semi-regular-large: 1.25rem;
$spacing-semi-regular-semi-large: 1.125em;
$spacing-semi-regular: 1rem;
$spacing-small: 0.75rem;
$spacing-smaller: 0.5rem;
$spacing-smallest: 0.25rem;
$min-height-page-small: 80vh;
$min-height-page-regular: 90vh;
$page-width-primary: 80%;
$z-index-modal: 1000;
$z-index-sidebar: 900;
$z-index-product-search-dropdow: 400;
$z-index-modal-product-search-dropdow: 300;
$z-index-languag: 300;
$z-index-sidebar-menu: 200;
$z-index-account-option: 100;
$z-index-input: 3;
$z-index-input-icon: 2;
$z-index-background: -1;
$opacity-hover: 0.6;
$box-shadow-primary: 0 3px 1px -2px rgb(0 0 0 / 20%),
  0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
$box-shadow-light: 0 1px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
  0 1px 2px 0 rgb(0 0 0 / 12%);
$box-shadow-modal: 0 5px 15px rgba(0, 0, 0, 0.3);
