@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.container {
  user-select: none;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgb(0 0 0 / 50%);
  transition: opacity 0.3s ease-in-out;
}

.card {
  width: fit-content;
  height: fit-content;
  padding: theme.$spacing-semi-regular-large;
  margin: 40vh auto;
  border: theme.$border-regular-component;
  overflow: hidden;
  color: theme.$font-color-contrast;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  background-color: theme.$branding-color-tertiary;
  border: none;
  border-radius: theme.$border-radius-small;
  box-shadow: theme.$box-shadow-primary;

  @include flex-all-center;
  @include typography-medium-semibold;
}
