@use "#styles/media" as media;
@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.list {
  @include flex-align-center;

  @include media.tablet-down {
    display: flex;
    gap: theme.$spacing-semi-regular;
    height: 32px;
    margin-top: 0;
    border: none;
  }

  button {
    color: theme.$font-color-light;

    @include typography-semimedium-normal;
  }
}

.divider {
  font-size: theme.$font-size-large;
}

.item {
  @include typography-semimedium-normal;
  @include flex-align-center;
}

.active {
  button {
    color: theme.$font-color-contrast;

    @include media.tablet-down {
      color: theme.$branding-color-primary;
    }
  }
}
