@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.getOrdersWrapper {
  @include flex-column;

  .title {
    @include component-title;
  }

  .ordersList {
    width: 100%;

    .order {
      display: flex;
      margin: theme.$margin-order-list 0;
    }

    .orderDetails {
      width: 25%;

      @include media.mobile {
        width: 32%;
      }

      .total,
      .date,
      .paymentMethod {
        @include media.mobile {
          @include flex-column;
        }
      }
    }

    .property {
      font-size: theme.$font-size-medium;
    }

    .value {
      font-size: theme.$font-size-small;
    }

    .cartItems {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 75%;

      @include media.mobile {
        width: 64%;
        margin-left: theme.$margin-form-container-mobile;
      }
    }
  }
}
