@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include media.mobile {
    flex-direction: column;
  }
}

.header {
  width: 100%;
}

.dataContainer {
  display: flex;
  align-items: center;

  @include flex-align-center;
}

.avatarContainer {
  width: 120px;
  height: 120px;

  @include flex-all-center;

  @include media.mobile {
    width: 80px;
    height: 80px;
  }
}

.avatar {
  border-radius: theme.$border-radius-circle;

  @include responsive-image;
}
