@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include media.mobile {
    flex-direction: column;
  }
}

.container {
  width: 100%;
}

.content {
  display: flex;
  align-items: center;

  @include flex-align-center;
}

.imageContainer {
  width: 120px;
  height: 120px;

  @include flex-all-center;

  @include media.mobile {
    width: 80px;
    height: 80px;
  }
}

.image {
  border-radius: theme.$border-radius-circle;

  @include responsive-image;
}

.fields {
  display: flex;
  flex-grow: 1;
  padding: theme.$spacing-small;
  margin-left: theme.$spacing-extra-large;
  overflow-x: auto;

  @include media.mobile {
    padding: 0;
    margin-left: theme.$spacing-regular;
  }
}

.list {
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;

  @include flex-column;

  @include media.mobile {
    flex-grow: 1;
  }
}

.item {
  @include flex-align-baseline;
}

.property {
  @include typography-semilarge-medium;
}

.value {
  margin-left: theme.$spacing-smallest;

  @include typography-medium-normal;
}
