.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 720px;
    width: 1180px;
  }
  
  .carousel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .carousel button {
    background-color: #3a3737;
    border: none;
    padding: 10px;
    height: '120px';
    max-width: '120px';
    min-width: '100px';
    cursor: pointer;
    z-index: 200;
  }

 
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

  
  .carousel button:hover {
    background-color: #ddd;
  }
  
  .carousel .previous {
    left: 10px;
  }
  
  .carousel .next {
    right: 10px;
  }
  