@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.formContainer {
  width: 100%;
  padding: 24px;
  border: solid grey 1px;
  border-radius: 4px;
}

.createUserFormWrapper {
  @include component-container-large;
}

.loginContainer {
  width: 100%;
  height: 68px;
  padding: 24px;
  margin: 32px 0;
  border: solid grey 1px;
  border-radius: 4px;

  @include flex-all-center;

  a {
    color: theme.$color-branding-primary;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  width: 216px;
  border-radius: theme.$border-radius-circle;
}

.form {
  width: 100%;
}

.formField {
  width: 100%;
  height: 32px;
  margin-bottom: 12px;
  font-family: theme.$font-family-primary;
  font-size: medium;
}

.label {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
}

.containerTitle {
  margin-bottom: 24px;
  font-size: theme.$font-size-subtitle;
}

.divider {
  width: 100%;
  font-size: theme.$font-size-medium;
  font-weight: theme.$font-weight-regular;

  @include flex-all-center;
}

.divider::before,
.divider::after {
  flex: 1 1;
  margin: auto;
  content: "";
  border-bottom: 1px solid;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.lostPasswordContainer {
  margin-top: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.formButton {
  @include action-button;

  width: 100%;
  height: 36px;
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 1rem;
  text-transform: none;

  @include media.mobile {
    width: 100%;
    overflow: hidden;
  }
}

.errorMessage {
  font-weight: theme.$font-weight-semibold;
  color: red;
}

.passwordInputAndToggleButtonContainer {
  position: relative;

  button {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    transform: translateY(
      -20%
    ); /* This centers the button vertically inside the input */
  }
}
