@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.getShippingDataWrapper {
  margin: 0;

  .title {
    @include component-title;
  }

  .property {
    font-size: theme.$font-size-medium;
  }

  .value {
    font-size: theme.$font-size-small;
  }

  .shippingData {
    margin-top: theme.$margin-divider;
  }
}
