@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.updateUserShippingDataWrapper {
  .nonUpdatedData {
    width: 100%;
    height: 32px;
    font-family: theme.$font-family-primary;
    font-size: theme.$font-size-medium;
    border-bottom: theme.$border-regular-component;
  }

  .form {
    @include flex-column;

    margin: theme.$spacing-regular-large;

    @include media.tablet-down {
      margin: theme.$spacing-semi-regular-semi-large;
    }
  }

  .itemRow {
    display: flex;
    align-items: center;
    margin-bottom: theme.$spacing-small;
  }

  .formField {
    width: 100%;
    height: 32px;
    font-family: theme.$font-family-primary;
    font-size: medium;
  }

  .formFieldSelect {
    width: 100%;
    height: 38px;
    margin-bottom: theme.$spacing-small;
    font-family: theme.$font-family-primary;
    font-size: medium;
  }

  .label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4px;
  }

  .inputContainer {
    @include input-container-spacing;
  }

  .containerTitle {
    margin-bottom: theme.$spacing-regular;
    font-size: theme.$font-size-subtitle;
  }

  .property {
    @include property-font;
  }

  .value {
    @include value-font;
  }

  .title {
    @include component-title;
  }

  .shippingData {
    margin-top: theme.$spacing-regular;
  }

  .formButton {
    @include action-button;

    width: 160px;
    height: 36px;
    margin-left: theme.$spacing-regular;
    font-size: theme.$font-size-small;
    text-transform: none;

    @include media.mobile {
      width: 120px;
      overflow: hidden;
    }
  }
}
