@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.section {
  width: 100%;
  margin: theme.$spacing-regular 0;
}

.filterButtons {
  @include media.mobile {
    justify-content: flex-start;
  }

  display: flex;
  flex-wrap: wrap;
  gap: theme.$spacing-regular;
}

.itemsList {
  @include flex-column;
}

.item {
  display: flex;
}

h2 {
  margin-bottom: theme.$spacing-regular;

  @include property-font-primary-semi-bold;
}
