@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.editableProduct {
  display: flex;
  align-items: stretch;
  width: 100%;

  @include input-container-spacing;

  @include media.mobile {
    flex-direction: column;
  }
}

.imageAndButtonContainer {
  width: 20%;
  min-width: 120px;
  margin: theme.$spacing-regular theme.$spacing-regular theme.$spacing-regular 0;

  @include media.mobile {
    display: flex;
  }
}

.imageContainer {
  width: 100%;
  height: 260px;

  @include flex-all-center;

  @include media.mobile {
    width: 5rem;
    margin-right: 52px;
  }
}

.image {
  @include responsive-image;
}

.formContainer {
  flex-grow: 1;
  margin: theme.$spacing-regular 0;
}

.inputContainer {
  @include input-container-spacing;
}
