@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.container {
  width: 100%;
}

.formField {
  width: 100%;
  height: 32px;
  margin-bottom: theme.$spacing-small;
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-medium;
}

.button {
  margin-top: theme.$spacing-small;
}
