@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.paymentPage {
  @include page-wrapper;
  @include flex-all-center;
}

.paymentFormContainer {
  width: 50%;
  background: theme.$background-color-form-primary;
  box-shadow: theme.$box-shadow-primary;

  @include media.desktop-down {
    width: 90%;
  }

  @include media.mobile {
    margin: theme.$spacing-large;
  }
}
