@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.paymentPageWrapper {
  margin: 80px 0 160px;

  @include flex-column-align-center;
}

.paymentPage {
  width: 68%;
  background: theme.$background-color-form-primary;
  box-shadow: theme.$box-shadow-primary;

  @include media.widescreen-down {
    width: 80%;
  }

  @include media.tablet-down {
    width: 90%;
  }
}
