@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 84px;
  user-select: none;
  background-color: theme.$branding-color-primary;
}
