@use "#styles/media" as media;
@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.dropdownMenu {
  color: #b5cfaa;

  .listItem {
    @include media.tablet-down {
      @include menu-list-item;
    }
  }

  @include media.tablet {
    position: absolute;
    display: flex;
    gap: 16px;
    margin-top: 8px;
    color: grey;
  }
}
