@use "#styles/media" as media;
@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.dropdownMenu {
  color: grey;

  .activeCategory {
    color: theme.$color-branding-primary;
  }

  .listItem {
    @include media.tablet-down {
      @include menu-list-item;
    }
  }

  @include media.tablet {
    position: absolute;
    display: flex;
    gap: 16px;
    padding: 0 4px;
    margin-top: 8px;
    background-color: #fff;
    border-radius: 4px;
  }
}
