@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.menuWrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  min-width: fit-content;
  max-width: 320px;
  min-height: fit-content;
  overflow-y: auto;
  background-color: white;
  border-bottom-left-radius: 4px;
  box-shadow: theme.$box-shadow-primary;

  @include media.mobile {
    width: 50%;
  }

  @include media.tablet {
    display: none;
  }

  @include flex-align-center;

  .itemsContainer {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .closeMenuIconContainer {
    color: theme.$color-branding-primary;
  }

  .userAndLogoutIconContainer {
    text-align: left;
  }

  .menuAndMailButtonContainer {
    width: 100%;

    @include media.short {
      height: 90vh;
      overflow-y: auto;
    }
  }

  .menu {
    width: 100%;

    .listItem {
      @include menu-list-item;

      cursor: pointer;

      &:first-child {
        @include flex-justify-end;
      }
    }
  }
}
