@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.menuWrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  min-width: fit-content;
  min-height: fit-content;
  overflow-y: auto;
  background-color: white;
  border-bottom-left-radius: 4px;
  box-shadow: theme.$main-box-shadow;

  @include media.mobile {
    width: 40%;
  }

  @include media.tablet {
    display: none;
  }

  @include flex-vertical-center;

  .itemsContainer {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .closeMenuIconContainer {
    color: theme.$branding-background-color;
  }

  .menuAndMailButtonContainer {
    width: 100%;

    @include media.short {
      height: 100vh;
      overflow-y: auto;
    }
  }

  .menu {
    width: 100%;

    .listItem {
      @include menu-list-item;

      &:first-child {
        @include flex-justify-end;

        cursor: pointer;
      }
    }
  }
}
