@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.navbarWrapper {
  width: 100%;
  background-color: white;

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    .menuWrapper {
      @include media.tablet-down {
        display: flex;
      }

      display: none;
    }

    .menuIconWrapper {
      @include media.tablet-down {
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        justify-content: flex-end;
        margin-right: 20px;
        cursor: pointer;
      }

      display: none;
    }

    .searchIconWrapper {
      @include media.tablet-down {
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        justify-content: flex-start;
        margin-right: 20px;
        cursor: pointer;
      }

      display: none;
    }

    .navbarContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 84px;
      margin-bottom: 20px;
      background-color: #b5cfaa;

      .navbarColumnLeft {
        @include media.tablet-down {
          display: none !important;
        }
      }

      .navbarColumnLogo {
        @include media.tablet-down {
          justify-content: space-between !important;
          width: 100% !important;
          margin: 40px 20px;
        }

        .logoContainer {
          display: flex;
          justify-content: center;
        }
      }

      .navbarColumnRight {
        @include media.tablet-down {
          display: none !important;
        }
      }

      .navbarColumn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.33%;
        height: 100%;

        .logo {
          width: 116px;
          height: 68px;
          border-radius: 50%;
        }

        .gap {
          width: 40px;
        }

        .iconsNav {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          min-width: 210px;
          cursor: pointer;

          .linkChild {
            display: flex;
            align-items: center;
          }

          .productsQuantity {
            width: 36px;
          }

          .cartAndQuantity {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
