@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.navbarWrapper {
  width: 100%;
  background-color: #fff;

  .hidden {
    display: none;
  }

  .productsDropdownWrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 70vw;
    border: none;

    @include media.mobile {
      width: 80vw;
    }

    .searchProductContainer {
      width: 100%;
    }
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    .dropdownModal {
      position: fixed;
      inset: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background: rgb(0 0 0 / 50%);
      transition: opacity 0.3s ease-in-out;
    }

    .searchProduct {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: theme.$main-box-shadow;

      .searchTextInputAndIcon {
        display: flex;
        align-items: center;
        width: 100%;
      }

      .laguageDropdownContainer {
        min-width: 50px;
        min-height: 20px;
      }

      .searchTextInputAndProductList {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: none;

        .searchTextInput {
          @include input-styles-reset;

          width: 100%;
          height: 82px;
          padding-left: 10px;
          font-family: theme.$main-font-family;
          font-size: 16px;
          font-weight: 400;
          color: grey;
          background-color: #fff;
          border-radius: 0.2rem;
        }

        .dropdownModal {
          position: fixed;
          inset: 0;
          width: 100vw;
          height: 100vh;
          overflow: hidden;
          background: rgb(0 0 0 / 50%);
          transition: opacity 0.3s ease-in-out;
        }

        .searchDropdown {
          z-index: 500;
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 12px;
          margin-top: 16px;
          color: black;
          background-color: #f5f5f5;
          border-radius: 4px;
          box-shadow: theme.$main-box-shadow;

          @include media.short {
            height: 70vh;
            overflow-y: auto;
          }

          .dropdownListItem {
            display: flex;
            align-items: center;
            min-height: 80px;
            max-height: 80px;
            padding: 0.5rem;
            margin: 0.5rem 0;
            font-size: 1rem;
            line-height: 1.5;
            letter-spacing: 0.0094em;
            list-style-type: none;
            cursor: pointer;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: theme.$light-box-shadow;
            transition: background-color 0.3s ease;
          }

          .dropdownListItemName {
            font-weight: 400;
            color: theme.$primary-color;
          }

          .dropdownListItem img {
            margin-right: 2rem;
          }

          .sidebarItem:hover {
            background-color: rgb(0 0 0 / 4%);
          }

          .listItemImage {
            width: 26px;
            max-height: 56px;
          }
        }
      }
    }

    .menuWrapper {
      display: none;

      @include media.desktop-down {
        display: flex;
      }
    }

    .menuIconWrapper {
      display: none;

      @include media.tablet-down {
        display: grid;
        flex-basis: 0;
        flex-grow: 1;
        margin-right: 20px;
        cursor: pointer;

        svg {
          justify-self: flex-end;
        }
      }
    }

    .searchIconWrapper {
      display: none;

      @include media.tablet-down {
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        justify-content: flex-start;
        margin-right: 20px;
        cursor: pointer;
      }
    }

    .navbarContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 84px;
      margin-bottom: 20px;
      background-color: #b5cfaa;

      .navbarColumnLeft {
        flex-basis: 0;
        flex-grow: 1;

        .searchIconIWrapperOut {
          margin-right: 8px;
        }

        .searchIconIWrapper {
          display: none;

          @include media.tablet-down {
            display: block;
            margin-left: 20px;
          }
        }
      }

      .navbarColumnLogo {
        .logoContainer {
          display: flex;
          justify-content: center;
        }
      }

      .navbarColumnRight {
        flex-basis: 0;
        flex-grow: 1;
      }

      .rightSideForBigScreen {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include media.tablet-down {
          display: none;
        }

        .itemsContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .languageChevronContainer {
          display: flex;
          gap: 8px;
          align-items: center;
          justify-content: center;
        }

        .languageDropdownContainer {
          @include flex-horizontal-center;
        }
      }

      .navbarColumn {
        .logo {
          width: 116px;
          height: 68px;
          border-radius: 50%;
        }

        .gap {
          width: 40px;
        }

        .iconsNav {
          display: flex;
          gap: 28px;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          min-width: 210px;
          cursor: pointer;

          .linkChild {
            display: flex;
            align-items: center;
          }

          .productsQuantity {
            width: 36px;
          }

          .cartAndQuantity {
            display: flex;
            gap: 8px;
            align-items: center;
            margin-right: 16px;
          }
        }
      }
    }
  }
}
