@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(200%);
  }
}

.wrapper {
  width: 100%;
  background-color: white;

  .visible {
    animation: slideIn 0.4s forwards;
  }

  .hidden {
    animation: slideOut 0.6s forwards;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }

  .listItemImage {
    width: 56px;
    height: 56px;
  }

  .searchIcon {
    cursor: pointer;
  }

  .searchDropdown {
    position: fixed;
    z-index: 500;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 12px;
    margin-top: 16px;
    color: black;
    background-color: #f5f5f5;
    border-radius: 4px;
  }

  .dropdownModal {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(0 0 0 / 50%);
    transition: opacity 0.3s ease-in-out;
  }

  .dropdownListItem {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.0094em;
    list-style-type: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .dropdownListItemName {
    font-weight: 400;
    color: theme.$primary-color;
  }

  .dropdownListItem img {
    margin-right: 2rem;
  }

  .sidebarItem:hover {
    background-color: rgb(0 0 0 / 4%);
  }

  .navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 84px;
    margin-bottom: 20px;
    background-color: #b5cfaa;
  }

  .toggleSidebarButton {
    cursor: pointer;
  }

  .navLink {
    font-size: 18px;
    color: grey;
    text-decoration: none;
  }

  .navbarColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
  }

  .searchProduct {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-right: 16px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
      0 1px 10px 0 rgb(0 0 0 / 12%);
  }

  .searchTextInput {
    @include input-styles-reset;

    width: 100%;
    height: 2rem;
    padding-left: 10px;
    background-color: #fff;
    border-radius: 0.2rem;
  }

  .logo {
    width: 116px;
    height: 68px;
  }

  .iconsNav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 210px;
    cursor: pointer;
  }

  .gap {
    width: 40px;
  }

  .searchTextInputAndProductList {
    width: 100%;
    border: none;
  }

  .linkChild {
    display: flex;
    align-items: center;
  }

  .productsQuantity {
    width: 36px;
  }

  .account {
    display: flex;
    align-items: center;
  }

  .cartAndQuantity {
    display: flex;
    align-items: center;
  }

  .noScroll {
    overflow: hidden;
  }
}
