@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.hidden {
  display: none;
}

.dropdownListItem {
  @include media.desktop {
    height: 100px;
  }

  display: flex;
  align-items: center;
  padding: theme.$spacing-smaller;
  margin: theme.$spacing-smaller 0;
  font-size: theme.$font-size-small;
  line-height: theme.$line-height-primary;
  list-style-type: none;
  cursor: pointer;
  background-color: theme.$background-color-primary;
  border-radius: theme.$border-radius-small;
  box-shadow: theme.$box-shadow-light;
  transition: background-color 0.3s ease;

  .dropdownListItemName {
    font-weight: theme.$font-weight-regular;
    color: theme.$font-color-primary;
  }

  .listItemImage {
    width: 22px;
    height: 56px;
    margin-right: theme.$spacing-regular;
  }
}
