@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.subNavbarWrapper {
  height: 40px;
  font-family: theme.$font-family-primary;
  color: theme.$font-color-primary;
  background-color: theme.$background-color-primary;

  @include flex-all-center;

  .subNavbar {
    width: 440px;

    @include flex-justify-around;
  }

  .navLink {
    width: 120px;
    font-size: theme.$font-size-medium;
    color: theme.$font-color-primary;
    text-align: center;
    text-decoration: none;
  }

  .activeCategory {
    color: theme.$branding-color-primary;
  }

  .logo {
    width: 116px;
    height: 68px;
  }
}
