@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.subNavbarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-family: "GFS Neohellenic", sans-serif;
  color: grey;
  background-color: white;

  .subNavbar {
    display: flex;
    justify-content: space-around;
    width: 440px;
  }

  .navLink {
    width: 120px;
    font-size: 18px;
    color: grey;
    text-align: center;
    text-decoration: none;
  }

  .activeCategory {
    color: theme.$color-branding-primary;
  }

  .logo {
    width: 116px;
    height: 68px;
  }
}
