@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.cartItem {
  @include flex-align-center;

  @include media.widescreen-down {
    flex-direction: column;
  }
}

.body {
  @include flex-align-center;

  flex-grow: 1;
  flex-shrink: 1;

  @include media.widescreen-down {
    width: 100%;
    margin-bottom: theme.$spacing-semi-regular;
  }
}

.image {
  width: 3.5rem;
  min-height: 90px;
  max-height: 90px;
  object-fit: contain;
  margin-right: theme.$spacing-large;

  @include media.widescreen-down {
    width: 2.75rem;
    min-height: 80px;
    max-height: 80px;
  }
}

.details {
  width: 60%;
  overflow: hidden;

  @include flex-column;

  @include media.mobile {
    width: 172px;
  }
}

.detailsName {
  @include typography-medium-semibold;
}

.detailsItem {
  @include typography-small-normal;
}

.selectors {
  @include flex-align-center;

  justify-content: space-between;

  @include media.widescreen-down {
    width: 100%;
    margin-bottom: 4px;
  }
}

.buttons {
  @include flex-align-center;
}

.quantity {
  width: 80px;

  @include flex-all-center;

  @include media.mobile {
    width: 60px;
  }
}

.cost {
  width: 120px;

  @include flex-all-center;
}

.deleteButtonWrapper {
  flex-basis: 0;
  flex-grow: 1;

  @include flex-justify-end;
}
