@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.wrapper {
  @include flex-align-center;

  @include media.desktop-down {
    flex-direction: column;
  }
}

.container {
  @include flex-align-center;

  flex-grow: 1;
  flex-shrink: 1;

  @include media.desktop-down {
    width: 100%;
    margin-bottom: theme.$spacing-semi-regular;
  }
}

.image {
  width: 3.5rem;
  min-height: 90px;
  max-height: 90px;
  object-fit: contain;
  margin-right: theme.$spacing-large;

  @include media.desktop-down {
    width: 2.75rem;
    min-height: 80px;
    max-height: 80px;
  }
}

.details {
  flex-grow: 1;
  flex-shrink: 1;
  width: 172px;
  overflow: hidden;

  @include flex-column;
}

.selectors {
  @include flex-align-center;

  flex-grow: 1;
  justify-content: space-between;

  @include media.desktop-down {
    flex-grow: 0;
    width: 100%;
    margin-bottom: 4px;
  }
}

.buttons {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  margin-left: theme.$spacing-regular;
}

.quantity {
  @include flex-all-center;

  width: 2rem;
  height: 32px;
  border: none;
  outline: none;
}

.cost {
  min-width: 120px;

  @include flex-all-center;
}

.deleteButtonWrapper {
  flex-basis: 0;
  flex-grow: 1;

  @include flex-justify-end;
}
