@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.navigationMenu {
  display: flex;
  height: 68px;
  width: 100%;

  button {
    font-family: theme.$font-family-primary;
    color: theme.$font-color-light;
    text-decoration: underline 1px theme.$font-color-light;
    text-underline-offset: 0.125rem;

    @include typography-semilarge-normal;

    &:hover {
      text-decoration: none;
      color: theme.$branding-color-primary;
    }
  }
}

.list {
  justify-content: space-evenly;
  width: 100%;

  @include flex-align-center;

  @include media.tablet-down {
    flex-direction: row;
    gap: theme.$spacing-semi-regular;
  }
}

.listItem {
  @include flex-align-center;
}
