@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.pages {
  @include flex-justify-center;

  width: 100%;

  button {
    font-family: theme.$font-family-primary;
    color: theme.$font-color-light;

    @include typography-semilarge-normal;
  }

  @include media.mobile {
    button {
      font-family: theme.$font-family-primary;
      color: theme.$font-color-light;

      @include typography-semilarge-normal;
    }
  }
}

.list {
  @include menu-list;

  @include media.tablet-down {
    flex-direction: row;
    gap: theme.$spacing-semi-regular;
    margin: theme.$spacing-semi-regular;
  }
}
