@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  padding-left: theme.$spacing-small;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: theme.$background-color-primary;
  border-bottom-left-radius: theme.$border-radius-small;
  box-shadow: theme.$box-shadow-primary;

  @include media.tablet {
    display: none;
  }
}

.list {
  width: 100%;

  @include media.short {
    overflow-y: auto;
  }
}

.container {
  display: flex;
  gap: theme.$spacing-small;
  align-items: center;
}

.item {
  height: theme.$height-mobile-menu-item;

  @include menu-list-item;
}

.closeIcon {
  justify-content: flex-end;
  color: theme.$branding-color-primary;
}

.userIcons {
  text-align: left;
}
