@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.categories {
  @include flex-justify-center;

  button {
    font-family: theme.$font-family-primary;
    color: theme.$font-color-light;

    @include typography-semilarge-extralight;
  }

  @include media.tablet-down {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 theme.$spacing-regular;
  }

  &:last-child {
    @include media.tablet-down {
      border-bottom: white 1px solid !important;
    }
  }

  @include media.tablet-down {
    display: flex;
    justify-content: flex-start;
    margin: 0;

    button {
      font-family: theme.$font-family-primary;
      color: theme.$font-color-light;

      @include typography-semilarge-normal;
    }
  }
}

.list {
  @include menu-list;

  @include media.tablet-down {
    flex-direction: column;
  }
}
