@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.linkContainer {
  width: 100%;
  height: 68px;
  padding: theme.$spacing-regular;
  margin: theme.$spacing-semi-large 0;
  border-radius: theme.$border-radius-small;

  @include flex-column-all-center;
}

.link {
  font-weight: theme.$font-weight-semibold;
  color: theme.$branding-color-primary;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.linksList {
  @include flex-column-all-center;
}
