@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.signUpPage {
  @include flex-column-all-center;
}

.logoAndSignUpForm {
  width: 100%;
  min-height: theme.$min-height-page-regular;

  @include flex-column-all-center;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  width: 216px;
  border-radius: theme.$border-radius-circle;
}

.form {
  width: 100%;
  padding: theme.$spacing-regular;
  border-radius: theme.$border-radius-small;

  @include flex-justify-center;
}
