@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.form {
  width: theme.$page-width-primary;
  margin: theme.$spacing-regular-large;

  @include flex-column-all-center;

  @include media.tablet-down {
    margin: theme.$spacing-semi-regular-semi-large;
  }

  @include media.mobile {
    width: 90%;
  }
}

.container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
}

.column {
  @include flex-column;

  width: 100%;
}

.title {
  margin-bottom: theme.$spacing-regular;
  font-size: theme.$font-size-subtitle;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 60%;

  @include media.tablet-down {
    width: 100%;
  }
}

.option {
  @include action-button;

  width: 160px;
  height: 36px;
  font-size: theme.$font-size-small;
  text-transform: none;

  @include media.tablet-down {
    width: 100px;
    min-width: 0;
    overflow: hidden;
  }
}
