@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.carouselWrapper {
  @include flex-all-center;

  width: 100%;

  .carousel img {
    object-fit: cover;

    @include full-width-and-height;
  }

  .iconSlider {
    @include reset-button;

    color: theme.$primary-color;
    cursor: pointer;

    @include media.desktop-down {
      // display: none;
    }
  }

  .iframeVideo {
    width: 100%;
    height: 100%;
  }

  .borderDiv {
    position: absolute;
    inset: 0;
    pointer-events: none;
    content: "";
    border-top: 70px solid #fff;
    border-right: 16px solid #fff;
    border-bottom: 70px solid #fff;
    border-left: 16px solid #fff;

    @include media.desktop-down {
      border-top: 80px solid #fff;
      border-bottom: 80px solid #fff;
    }

    @include media.tablet-down {
      border-top: 98px solid #fff;
      border-bottom: 98px solid #fff;
    }

    @include media.mobile {
      border-top: 78px solid #fff;
      border-bottom: 78px solid #fff;
    }
  }

  .videoWrapper {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 608px;

    @include media.desktop-down {
      height: 540px;
    }

    @include media.tablet-down {
      height: 486px;
    }

    @include media.mobile {
      height: 386px;
    }
  }
}
