@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.carousel {
  @include flex-center;

  margin-bottom: 3.8rem;
}

.carousel img {
  object-fit: cover;

  @include full-width-and-height;
}

.iconCarousel {
  color: theme.$primary-color;
  cursor: pointer;
}

.video {
  width: 1120px;
  height: 630px;
}

.borderDiv {
  position: absolute;
  inset: 0;
  pointer-events: none;
  content: "";
  border: 60px solid white;
}

.videoWrapper {
  position: relative;
  z-index: -1;
  width: 1120px;
  height: 630px;
}
