@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.carouselWrapper {
  @include flex-all-center;

  width: 100%;

  .carousel img {
    object-fit: cover;

    @include hundred-percent-width-and-height;
  }

  .iconSlider {
    @include reset-button;

    color: theme.$primary-color;
    cursor: pointer;

    @include media.mobile {
      display: none;
    }
  }

  .video {
    @include hundred-percent-width-and-height;
  }

  .outerContainer {
    max-width: 1000px;
    max-height: 500px;
    margin: auto;
    overflow: hidden;

    @include flex-all-center;

    @include media.mobile {
      height: 340px;
    }
  }

  .videoWrapper {
    --calculated-height: calc(100vw / 2);
    --max-height: 500px;

    min-height: min(var(--calculated-height), var(--max-height));
    overflow: hidden;

    @include flex-all-center;
    @include hundred-percent-width-and-height;

    @include media.mobile {
      min-height: calc(0.48 * 100vw + 6px);
    }

    video {
      max-height: 500px;
      object-fit: cover;

      @include hundred-percent-width-and-height;
    }
  }
}
