@use "#styles/theme" as theme;
@import "https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap";
@import "#styles/helpers/mixins";

.homePageWrapper {
  display: flex;
  justify-content: center;

  .homePage {
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .pageColumn {
    width: 100%;
  }

  .carouselWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .teaserTextWrapper {
    display: flex;
    justify-content: center;
  }

  .teaserText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    text-align: center;
  }

  .teaserCardsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .teaserCards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .title {
    margin-bottom: 20px;
    font-family: theme.$main-font-family;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .homeSubtitle {
    display: flex;
    align-items: center;
    height: 80px;
    font-family: theme.$main-font-family;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .columnsTitle {
    align-items: center;
    font-family: theme.$main-font-family;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .homeSubtitleText {
    display: flex;
    align-items: flex-start;
    min-height: 120px;
    max-height: 200px;
    overflow: hidden;
    font-family: theme.$main-font-family;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  .subtitleText {
    width: 60%;
    font-family: theme.$main-font-family;
    font-size: 18px;
    font-weight: 500;
    line-height: 128%;
    text-align: center;
  }

  .productSliderContainer {
    display: flex;
    justify-content: center;
    width: 96%;
    margin-bottom: 16px;
  }

  .iconColumns {
    font-size: 46px;
  }

  .teaserSingleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .columnsContainer {
    display: flex;
    justify-content: center;
    width: 95%;
  }
}
