@use "#styles/theme" as theme;
@import "https://fonts.googleapis.com/css2?family=GFS+Neohellenic&display=swap";
@import "#styles/helpers/mixins";

.pageContainer {
  @include flex-center;

  flex-direction: column;
}

.teaserText {
  @include flex-column-text;
}

.teaserCards {
  display: flex;
}

.title {
  margin-bottom: 20px;
  font-family: theme.$main-font-family;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.homeSubtitle {
  font-family: theme.$main-font-family;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.subtitleText {
  font-family: theme.$main-font-family;
  font-size: 18px;
  font-weight: 500;
  line-height: 128%;
  text-align: center;
}

.productSliderContainer {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 56px;
}

.teaserSingleCard {
  @include flex-column;

  padding: 20px;
}
