@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.productSliderWrapper {
  display: flex;
  gap: theme.$spacing-semi-regular;
  align-items: center;
  padding: theme.$spacing-semi-regular-large 0;

  .iconSlider {
    @include reset-button;

    color: theme.$font-color-primary;
    cursor: pointer;
  }
}
