@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.productSliderWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 20px 0;

  .iconSlider {
    @include reset-button;

    color: theme.$primary-color;
    cursor: pointer;
  }
}
