@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.wrapper {
  display: flex;
  padding: theme.$spacing-small 0;
  border-bottom: solid 1px theme.$font-color-light;
  height: fit-content;
}

.container {
  height: fit-content;

  @include flex-align-center;

  hr {
    margin-top: theme.$spacing-regular;
    margin-right: 38px;

    @include media.desktop-down {
      margin-top: 0;
    }
  }

  &:last-child hr {
    display: none;
  }

  &:first-child {
    @include media.desktop-down {
      margin-top: 0;
    }
  }

  @include media.desktop-down {
    width: 100%;
  }
}

.body {
  @include flex-align-center;
}

.imageContainer {
  width: 120px;
  height: 120px;
  margin-right: theme.$spacing-large;

  @include media.desktop-down {
    width: 80px;
    height: 80px;
  }
}

.image {
  @include responsive-image;
}

.description {
  @include flex-column-justify-center;

  @include media.desktop-down {
    overflow: hidden;
  }
}

.hideForSemantics {
  @include hide;
}
