@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.pageWrapper {
  display: flex;
  justify-content: center;
  min-height: theme.$min-height-page-primary;

  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .text {
    font-size: theme.$font-size-subtitle;
    font-weight: theme.$font-weight-light;
    color: grey;
    text-align: center;
  }
}
