@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.pageWrapper {
  display: flex;
  justify-content: center;
  min-height: theme.$min-vh-page-wrapper;

  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .text {
    font-size: 24px;
    font-weight: 200;
  }
}
