@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.adminPageWrapper {
  @include flex-justify-center;
  @include margin-page-wrapper;

  min-height: 100vh;

  .adminPage {
    width: 80%;

    @include flex-column;

    @include media.widescreen-down {
      width: 90%;
    }

    .titleAndLogoutButtonContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 48px;

      @include media.mobile {
        flex-direction: column;
      }

      .adminFormTitel {
        margin: 24px;
        font-family: theme.$main-font-family;
        font-size: 24px;
        font-weight: 500;

        @include media.mobile {
          margin: 16px;
          font-size: 16px;
        }
      }
    }

    .productsCrudContainer {
      display: flex;
      border: solid 1px theme.$branding-background-color;
      border-radius: 4px;
    }

    .usersCrudContainer {
      display: flex;
      border: solid 1px theme.$branding-background-color;
      border-radius: 4px;
    }

    .formsContainerWrapper {
      display: flex;
      width: 100%;
    }

    .formsContainer {
      width: 100%;
      border-radius: 4px;

      @include flex-column-align-center;
    }

    .crudContainer {
      width: 100%;
      margin: 8px 0;
      border-bottom: 1px grey solid;

      @include flex-column;
    }

    .formButton {
      @include action-button;

      width: 100px;
      height: 32px;
      font-size: 1rem;
      text-transform: none;

      @include media.mobile {
        width: 120px;
        overflow: hidden;
      }
    }

    .errorMessage {
      @include error-message;
    }

    .sectionsToggleButtons {
      display: flex;
      gap: 48px;
      margin-bottom: 24px;

      @include media.mobile {
        justify-content: space-between;
      }
    }
  }
}
