@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.cartWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  .cart {
    display: flex;
    width: 70%;

    @include media.mobile {
      flex-direction: column;
      width: 90%;
    }
  }

  .cartItemsList {
    display: flex;
    flex-direction: column;
    width: 60%;

    @include media.mobile {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  .cartItem {
    @include flex-vertical-center;

    @include media.mobile {
      flex-direction: column;
    }
  }

  .cartEmptyMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem;
    font-size: 20px;
  }

  .imagesAndDetails {
    display: flex;
    align-items: center;

    @include media.mobile {
      width: 100%;
      margin-bottom: 16px;
    }
  }

  .cartItemContainer {
    margin-top: 24px;

    &:first-child {
      @include media.mobile {
        margin-top: 0;
      }
    }
  }

  .cartItemImage {
    width: 3.5rem;
    max-height: 90px;
    object-fit: contain;
    margin-right: 32px;

    @include media.mobile {
      width: 2.75rem;
      max-height: 80px;
      margin-right: 20px;
    }
  }

  .cartItemDetails {
    width: 20rem;

    @include media.mobile {
      flex-grow: 1;
      width: fit-content;
      overflow: hidden;
    }
  }

  .cartItemSelectors {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;

    @include media.mobile {
      flex-grow: 0;
      width: 100%;
      padding-right: 0;
      margin-bottom: 4px;
    }
  }

  .cartItemQuantityInput {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 32px;
    border: none;
    outline: none;
  }

  .cartItemQuantityButton {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }

  .cartItemTotalCost {
    @include flex-center;
  }

  .deleteButton {
    cursor: pointer;
  }

  .cartOrderSummary {
    width: 35%;
    height: fit-content;
    padding: 32px;
    margin-left: 3rem;
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow: theme.$main-box-shadow;

    @include media.mobile {
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin-left: 0;

      @include flex-horizontal-center;
    }
  }

  .orderSumaryText {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;

    @include media.mobile {
      padding: 20px 0 0 20px;
    }
  }

  .totalCostDivider {
    margin: 40px 0;
  }

  .cartOrderSummaryDetails {
    margin-bottom: 40px;

    @include media.mobile {
      padding: 0 20px;
    }
  }

  .orderTotalText {
    font-weight: 500;
  }

  .quantityButtonsContainer {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
  }

  .deleteButtonWrapper {
    display: flex;

    @include media.mobile {
      flex-basis: 0;
      flex-grow: 1;
      justify-content: flex-end;
    }

    .deleteButton {
      @include media.mobile {
        height: 40px;
        margin: 0 20px;

        @include flex-all-center;
      }
    }
  }

  .confirmOrderButton {
    @include product-cart-purshase-button;

    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
