@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.cartContainerWrapper {
  display: flex;
  justify-content: center;
}

.cartContainer {
  display: flex;
  width: 70%;
}

.cartItemsList {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.cartItem {
  display: flex;
  align-items: center;
  height: 9rem;
}

.cartItemImage {
  width: 7.5rem;
  height: 8.25rem;
  object-fit: contain;
}

.cartItemDetails {
  width: 20rem;
}

.cartItemQuantitySelector {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.cartItemQuantityInput {
  width: 2rem;
  height: 32px;
  text-align: center;
  border: none; 
    outline: none; 
}

.cartItemQuantityButton {
  width: 32px;
  height: 32px;
  cursor: pointer; 
  background: none;
  border: none; 
  outline: none;
}

.cartItemTotalCost {
  justify-content: center;
  width: 6rem;
  margin-left: 2rem;
}

.cartItemButtonDeleteButton {
  margin-left: 2rem;
  cursor: pointer;
}

.cartOrderSummary {
  width: 35%;
  height: 20rem;
  margin-left: 3rem;
}

.buttonContained {
  @include product-cart-purshase-button;
}
