@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.loginPageWrapper {
  @include flex-column-all-center;

  margin: 28px;

  @include media.tablet-down {
    margin: 18px;
  }

  .loginPage {
    width: 20%;

    @include flex-justify-center;

    @include media.tablet-down {
      width: 60%;
    }

    @include media.mobile {
      width: 90%;
    }
  }

  .formContainer {
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .formField {
    width: 100%;
    height: 32px;
    margin-bottom: 12px;
    font-family: theme.$main-font-family;
    font-size: medium;
  }

  .label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4px;
  }

  .containerTitle {
    margin-bottom: 24px;
    font-size: 24px;
  }

  .formButton {
    @include action-button;

    width: 160px;
    height: 36px;
    margin-top: 24px;
    font-size: 1rem;
    text-transform: none;

    @include media.mobile {
      width: 120px;
      overflow: hidden;
    }
  }
}
