@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.loginPageWrapper {
  @include flex-all-center;

  min-height: 80vh;

  .loginPage {
    width: 360px;
    min-width: 340px;

    @include flex-column-all-center;

    @include media.mobile {
      width: 320px;
      min-width: 280px;
    }

    .languageOptionsAndFormContainer {
      width: 100%;
    }

    .languageOptionsContainer {
      display: flex;
      border: 1px solid green;
    }

    .logoAndFormContainer {
      border: 1px solid blue;

      .logoContainer {
        display: flex;
        justify-content: center;

        .logo {
          width: 216px;
          border-radius: theme.$border-radius-circle;
        }
      }

      .formContainer {
        width: 100%;

        // padding: theme.$spacing-regular;
        border: theme.$border-regular-component;
        border-radius: theme.$border-radius-small;

        .form {
          width: 100%;

          .label {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 4px;
          }

          .formField {
            width: 100%;
            height: 32px;
            margin-bottom: theme.$spacing-small;
            font-family: theme.$font-family-primary;
            font-size: theme.$font-size-medium;
          }

          .formButton {
            @include action-button;

            width: 100%;
            height: 36px;
            margin-top: 8px;
            margin-bottom: theme.$spacing-regular;
            font-size: theme.$font-size-small;
            text-transform: none;

            @include media.mobile {
              width: 100%;
              overflow: hidden;
            }
          }
        }
      }

      .divider {
        width: 100%;
        font-size: theme.$font-size-medium;
        font-weight: theme.$font-weight-regular;

        @include flex-all-center;
      }

      .divider::before,
      .divider::after {
        flex: 1 1;
        margin: auto;
        content: "";
        border-bottom: 1px solid;
      }

      .divider::before {
        margin-right: 10px;
      }

      .divider::after {
        margin-left: 10px;
      }

      .lostPasswordContainer {
        width: 100%;
        margin-top: theme.$spacing-regular;
        margin-bottom: theme.$spacing-regular;
        font-size: theme.$font-size-small;
        border: 1px solid red;

        @include flex-all-center;

        .lostPasswordLink {
          font-weight: theme.$font-weight-semibold;
          color: theme.$branding-color-primary;
        }
      }
    }
  }

  .languageIcon {
    margin-right: theme.$spacing-smaller;
  }

  .languageDropdownContainer {
    margin-left: theme.$spacing-smaller;
  }

  .signUpLinkContainer {
    width: 100%;
    height: 68px;
    padding: theme.$spacing-regular;
    margin: theme.$spacing-semi-large 0;
    border: theme.$border-regular-component;
    border-radius: theme.$border-radius-small;

    @include flex-all-center;

    .signUpLink {
      font-weight: theme.$font-weight-semibold;
      color: theme.$branding-color-primary;
    }
  }

  .containerTitle {
    margin-bottom: theme.$spacing-regular;
    font-size: theme.$font-size-subtitle;
  }
}
