@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.orderSummaryWrapper {
  @include flex-center-column;

  .orderSummary {
    display: flex;
    width: 80%;
    margin-bottom: 48px;
    border-bottom: 1px solid theme.$font-color-light;

    @include media.desktop-down {
      width: 90%;
    }
  }

  .pageTitle {
    margin-bottom: theme.$spacing-semi-regular-large;
    font-size: theme.$font-size-subtitle;
  }

  .summaryTitle {
    font-size: theme.$font-size-subtitle;
  }

  .infoColumnContainer {
    width: 50%;
    overflow: hidden;

    @include flex-justify-end;

    @include media.mobile {
      flex-wrap: nowrap;
      width: 50%;
    }
  }

  .infoColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 400px;
  }

  .containerTitleWrapper {
    text-align: center;
  }

  .containerTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: theme.$spacing-regular;
    font-size: theme.$font-size-subtitle;
  }

  .clientInfoContainer {
    width: 100%;
    padding: 40px;

    @include media.mobile {
      padding: 0;
    }
  }

  .purchasedProducts {
    @include flex-justify-center;

    width: 50%;
    padding: theme.$spacing-large;

    @include media.mobile {
      padding: 0;
    }
  }

  .cartItemWrapper {
    width: 200px;
    height: 100px;
    margin: theme.$spacing-smaller;
    border: theme.$border-regular-component;
    border-radius: theme.$border-radius-small;

    @include flex-align-center;

    @include media.tablet {
      // width: 200px;
    }
  }

  .cartItem {
    flex-grow: 1;
    justify-content: space-between;
    margin: 0 theme.$spacing-smaller;
    background-color: theme.$background-color-primary;

    @include flex-align-center;
  }

  .imageContainer {
    width: 40%;

    @include flex-all-center;

    @include media.mobile {
      width: 5rem;
      margin-right: 52px;
    }
  }

  .image {
    display: block;
    height: 80px;
    background-repeat: no-repeat;
    object-fit: contain;
  }

  .cartItemDetails {
    width: 40%;
    margin: theme.$spacing-small;
    overflow: hidden;
  }

  .cartItemsList {
    display: flex;
    flex-wrap: wrap;
    margin-left: theme.$spacing-semi-regular;
  }

  .columns {
    display: flex;
    width: 100%;
    background: #fff;

    @include media.tablet-down {
      @include flex-column-align-center;
    }
  }

  .columnTitle {
    @include flex-column-all-center;

    padding: 40px;
    font-size: theme.$font-size-teaser;

    @include media.mobile {
      width: 90%;
      text-align: center;
    }
  }

  .clientInfoItem {
    display: flex;
    flex-direction: column;
    margin-bottom: theme.$spacing-semi-regular;

    input {
      font-size: theme.$font-size-small;
      color: theme.$font-color-light;
    }
  }

  .cartItemsListWrapper {
    width: 100%;
  }

  .label {
    display: flex;
  }

  .formField {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    padding-left: 10px;
    font-family: theme.$font-family-primary;
    background-color: #fff;
    border-bottom: 1px solid theme.$font-color-light;
  }
}
