@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.paymentPageWrapper {
  @include flex-column-align-center;

  margin: 80px 0 160px;

  .paymentPage {
    width: 68%;
    background: #f4f4f4;
    box-shadow: theme.$box-shadow-primary;

    @include media.widescreen-down {
      width: 80%;
    }

    @include media.tablet-down {
      width: 90%;
    }
  }

  .formButton {
    @include action-button;

    width: 160px;
    height: 36px;
    font-size: theme.$font-size-small;
    text-transform: none;

    @include media.mobile {
      width: 120px;
      overflow: hidden;
    }
  }

  .paymentForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: theme.$spacing-regular-large;

    @include media.tablet-down {
      margin: theme.$spacing-semi-regular-semi-large;
    }
  }

  .row {
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: theme.$spacing-semi-regular;
    margin-bottom: theme.$spacing-semi-regular-large;
    font-size: theme.$font-size-medium;
    background-color: white;
    border: solid 1px grey;
    border-radius: 8px;
  }

  /* create custom radio */

  .row input[type="radio"] {
    width: 1px;
    opacity: 0;
  }

  .row label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      content: "";
      border: 1px solid grey;
      border-radius: theme.$border-radius-circle;
    }

    &::after {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 10px;
      height: 10px;
      content: "";
      background-color: theme.$color-branding-primary;
      border-radius: theme.$border-radius-circle;
      opacity: 0;
      transition: opacity 0.3s, transform 0.3s;
      transform: scale(0);
    }
  }

  .row input[type="radio"]:checked + label::after {
    opacity: 1;
    transform: scale(1);
  }

  /* end create custom radio */

  .title {
    margin-right: 8px;
    font-size: theme.$font-size-subtitle;
  }

  .separator {
    margin-bottom: 120px;
  }

  .methods {
    width: 100%;
  }

  input {
    margin-right: -9px;
  }

  .navigateButtons {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    width: 100%;
  }

  .requirePaymentText {
    font-size: theme.$font-size-subtitle;
    font-weight: theme.$font-weight-semibold;
    text-transform: uppercase;
  }

  .insertPaymentMethod {
    font-size: theme.$font-size-medium;
    font-weight: theme.$font-weight-semibold;
  }

  .titleContainer {
    @include flex-align-center;

    width: 100%;
    margin-bottom: theme.$spacing-regular;
  }
}
