@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.productDetailsPageWrapper {
  display: flex;
  justify-content: center;

  .productDetailsPage {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 80px 0;

    @include media.mobile {
      gap: 40px;
      width: 100%;
      margin: 60px 0;
    }
  }

  .addProductToCartButton {
    @include action-button;

    flex-grow: 1;
    flex-shrink: 1;
  }

  .detailsAndButtonContainerWrapper {
    @include flex-column-all-center;

    width: 100%;

    @include media.mobile {
      margin: 0 theme.$spacing-semi-regular-large;
    }
  }

  .selectorAndButtonContainerMobile {
    display: none;

    @include media.mobile {
      display: flex;
      gap: 16px;
      width: 100%;
    }
  }

  .selectorAndButtonContainerDesktop {
    display: flex;
    gap: 16px;
    width: 100%;

    @include media.mobile {
      display: none;
    }
  }

  .detailsAndButtonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    max-width: 920px;

    @include media.desktop-down {
      justify-content: space-between;
      width: 76%;
    }

    @include media.tablet-down {
      justify-content: space-between;
      width: 86%;
    }

    @include media.mobile {
      width: 100%;
      margin-bottom: 60px;
    }
  }

  .imageContainer {
    @include flex-all-center;

    width: 8rem;
    margin-right: 52px;

    @include media.mobile {
      width: 5rem;
      margin-right: 52px;
    }
  }

  .image {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  .productInfo {
    @include flex-column-all-center;

    width: 50%;
    height: auto;
    overflow: hidden;
    font-family: theme.$font-family-primary;

    @include media.mobile {
      flex-grow: 1;
      min-width: 60%;
    }
  }

  .rightContainerDetails {
    width: 100%;
  }

  .productInfoCategory {
    font-size: 1.5rem;
    font-weight: theme.$font-weight-regular;
    line-height: 1;
    color: theme.$font-color-primary;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }

  .productInfoCategoryLink {
    color: theme.$font-color-primary;
    text-decoration: none;
  }

  .productName {
    margin-top: 24px;
    margin-bottom: 40px;
    font-size: 1.5rem;
    font-weight: theme.$font-weight-semibold;
    line-height: 128%;
  }

  .descriptionPoints {
    font-size: theme.$font-size-medium;
    line-height: 14px;
    text-align: left;
    letter-spacing: 0.08em;
    list-style-type: disc;
  }

  .descriptionPoint {
    margin-bottom: 1.2rem;
    font-size: 16px;
    list-style-type: none;
  }

  .rightContainerPriceDetails {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
  }

  .productSize {
    flex: 1;
    margin-right: 1.25rem;
    font-size: 0.8rem;
    font-weight: theme.$font-weight-regular;
    line-height: 1.125rem;
  }

  .productPrice {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: theme.$font-weight-regular;
    line-height: 1;
    letter-spacing: 0.04em;
  }

  .quantityInput {
    width: 2rem;
    height: 100%;
    margin: 0;
    text-align: center;
    background-color: rgb(244 244 244);
    border: none;
  }

  .buttonIcon {
    cursor: pointer;
  }

  .addToCartButton {
    @include action-button;

    flex-grow: 1;
  }
}
