@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.shippingPageWrapper {
  @include flex-center-column;

  min-height: 85vh;
}

.shippingPage {
  @include flex-justify-center;

  flex-direction: column;
  width: 45%;
}

.form {
  @include flex-center-column;
}

.formTitel {
  font-family: theme.$main-font-family;
  font-size: medium;
}

.formField {
  font-size: medium;
}

.emailFieldContainer {
  @include flex-start-column;
}

.customerInfo {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  display: flex;
  justify-content: space-between;
}

.infoRow {
  display: flex;
  justify-content: space-between;
}

.infoRowCell {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.containerTitle {
  font-size: 24px;
}

input {
  width: 96%;
  height: 32px;
}
