@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.shopPageWrapper {
  display: flex;
  justify-content: center;
  min-height: 80vh;

  .shopPage {
    display: flex;
    flex-flow: wrap;
    width: theme.$default-page-width;
    margin: 5rem;
    overflow-y: auto;
  }

  .sortedProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 88%;
  }
}
