@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.shopPageWrapper {
  @include flex-justify-center;
  @include margin-page-wrapper;

  min-height: 100vh;

  .shopPage {
    @include flex-column-all-center;

    width: 80%;

    @include media.widescreen-down {
      width: 90%;
    }

    .sidebarWrapper {
      display: flex;
      margin-bottom: 40px;

      @include media.tablet-down {
        display: none;
      }
    }
  }

  .sortedProducts {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    gap: theme.$spacing-semi-regular;
    justify-content: center;
    width: 100%;
  }
}
