@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.userWrapper {
  @include flex-justify-center;
  @include margin-page-wrapper;

  min-height: 100vh;

  .userPage {
    width: 80%;

    @include flex-column;

    @include media.widescreen-down {
      width: 90%;
    }

    .titleAndLogoutButtonContainer {
      display: flex;
      justify-content: space-between;
    }
  }

  .logoutButton {
    @include action-button;
  }

  .formButton {
    width: 160px;

    @include action-button;
  }

  .adminFormTitel {
    font-size: 32px;
  }

  .avatar {
    width: 160px;
    height: 160px;
    margin-right: 24px;
    border-radius: 50%;
  }

  .userDataContainer {
    display: flex;
    margin: 24px 0;

    .userData {
      font-size: 24px;
    }
  }

  .addressData {
    font-size: theme.$font-size-generic-data;
  }
}
