@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.productCardWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 260px;
  min-height: 406px;
  margin: 8px;
  margin-bottom: 16px;
  overflow: hidden;
  text-align: center;

  .addButtonContainer {
    pointer-events: auto;
    opacity: 1;
  }

  .productCardBody {
    margin-bottom: 20px;
  }

  .addButton {
    @include action-button;
  }

  .productCardName {
    @include product-card-name;
  }

  .productCardImage {
    max-width: 80%;
    height: 200px;
    min-height: 200px;
    margin: 16px 0;
    background-color: white;
    object-fit: contain;
  }

  .productCardSize,
  .productCardPrice {
    margin: 0;
    font-family: theme.$main-font-family;
    font-size: 1.25rem;
    font-weight: 400;
    color: theme.$secondary-color;
  }

  .productCardDescription {
    margin-bottom: 10px;
    font-family: theme.$main-font-family;
    font-size: 0.875rem;
    color: theme.$secondary-color;
  }
}
