@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.productCardWrapper {
  @include product-card-wrapper;
}

.productCardWrapper:hover {
  transform: scale(1.05);
}

.productCardAddToCartButton {
  @include product-cart-purshase-button;

  pointer-events: none;
  opacity: 0;
}

.productCardWrapper:hover .productCardAddToCartButton {
  pointer-events: auto;
  opacity: 1;
}

.productCardName {
  @include product-card-name;
}

.productCardImage {
  @include product-image;

  object-fit: contain;
}

.productCardSize,
.productCardPrice {
  @include product-card-size-and-price;
}

.productCardDescription {
  @include product-card-description;
}
