@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.productCardWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 260px;
  min-height: 406px;
  margin: 8px;
  margin-bottom: theme.$spacing-semi-regular;
  overflow: hidden;
  text-align: center;

  .addButtonContainer {
    pointer-events: auto;
    opacity: 1;
  }

  .productCardBody {
    margin-bottom: theme.$spacing-semi-regular-large;
  }

  .addButton {
    @include action-button;
  }

  .productCardName {
    @include product-card-name;
  }

  .productCardImage {
    max-width: 80%;
    height: 200px;
    min-height: 200px;
    margin: theme.$spacing-semi-regular 0;
    background-color: white;
    object-fit: contain;
  }

  .productCardSize,
  .productCardPrice {
    margin: 0;
    font-family: theme.$font-family-primary;
    font-size: theme.$font-size-semi-medium;
    font-weight: theme.$font-weight-regular;
    color: theme.$font-color-light;
  }

  .productCardDescription {
    margin-bottom: theme.$spacing-small;
    font-family: theme.$font-family-primary;
    font-size: theme.$font-size-small;
    color: theme.$font-color-light;
  }
}
