@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.userDataTable {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  margin-left: theme.$spacing-extra-large;
  overflow-x: auto;

  @include media.mobile {
    margin-left: theme.$spacing-regular;
  }

  .tableRow {
    width: 100%;

    @include flex-column;

    @include media.mobile {
      flex-grow: 1;
    }
  }

  .tableCell {
    display: flex;

    @include media.mobile {
      flex-direction: column;
    }
  }

  .tableHeaderCell {
    display: flex;
    font-weight: theme.$font-weight-regular;

    @include media.mobile {
      max-width: 40%;
    }
  }

  .tableHeaderCell,
  .tableDataCell {
    text-align: left;
  }

  .tableDataCell {
    margin-left: theme.$spacing-smallest;
  }
}
