@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.wrapper {
  width: 35%;
  max-width: 460px;
  height: fit-content;
  padding: 32px;
  margin-left: 3rem;
  background: #f4f4f4;
  border-radius: theme.$border-radius-small;
  box-shadow: theme.$box-shadow-primary;

  @include media.desktop-down {
    flex-direction: column;
    width: 100%;
    max-width: unset;
    padding: 0;
    margin-left: 0;

    @include flex-justify-center;
  }
}

.title {
  margin-bottom: theme.$spacing-semi-regular-large;
  text-transform: uppercase;

  @include typography-semilarge-semibold;

  @include media.desktop-down {
    padding: theme.$spacing-semi-regular-large 0 0
      theme.$spacing-semi-regular-large;
  }
}

.details {
  margin-bottom: theme.$spacing-large;

  @include media.desktop-down {
    padding: 0 theme.$spacing-semi-regular-large;
  }
}

.item {
  display: flex;

  .field {
    margin-right: theme.$spacing-smallest;

    @include typography-medium-semibold;
  }
}

.divider {
  margin: theme.$spacing-large 0;
}

.link {
  flex-grow: 1;

  @include action-button;
  @include flex-justify-center;
}
