@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.wrapper {
  width: 33.333%;

  @include flex-align-center;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.container {
  width: 100%;
  height: 40px;
  padding-left: theme.$spacing-regular;

  @include flex-align-center;

  @include media.mobile {
    width: 100%;
    padding-left: theme.$spacing-semi-regular;

    @include typography-small-normal;
  }
}

.input {
  width: 100%;
  height: 100%;
  padding-left: theme.$spacing-small;
  font-family: theme.$font-family-primary;
  color: theme.$font-color-primary;
  background-color: theme.$background-color-primary !important;
  border-radius: theme.$border-radius-small;

  @include typography-semilarge-extralight;
  @include input-styles-reset;

  @include media.mobile {
    width: 90%;
    padding-left: theme.$spacing-smallest;

    @include typography-small-normal;
  }
}
