@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.quantitySelector {
  display: flex;
  align-items: center;
  width: 80px;
  background-color: rgb(244 244 244);
  border-radius: theme.$border-radius-small;
}

.quantityInput {
  width: 2rem;
  height: 100%;
  margin: 0;
  text-align: center;
  background-color: rgb(244 244 244);
  border: none;
}

.quantityContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0;
  text-align: center;
}

.quantityButtonsContainer {
  @include flex-column;

  flex-grow: 1;
  justify-content: space-evenly;
  height: 100%;
  margin-right: 4px;

  svg {
    cursor: pointer;
  }
}
