@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  text-align: center;

  @include media.tablet-down {
    width: 90%;
  }
}

.title {
  margin-bottom: theme.$spacing-semi-regular-large;
  text-align: center;
  text-transform: uppercase;

  @include typography-large-semibold;
}

.subtitle {
  width: 84%;
  text-align: center;

  @include typography-medium-normal;

  @include media.tablet-down {
    width: 100%;
  }
}
