@use "@/styles/theme" as theme;
@import "@/styles/helpers/mixins";

.wrapper {
  @include flex-justify-center;
}

.container {
  @include flex-column-align-center;

  width: theme.$page-width-primary;
  margin: 60px 0;
}

.questionsAndAnswers {
  max-width: 60%;
}

.title {
  margin-bottom: theme.$spacing-semi-regular-semi-large;
  font-size: theme.$font-size-medium;
  font-weight: theme.$font-weight-normal;
  text-align: center;
}

.subtitle {
  margin-bottom: theme.$spacing-large;
  font-size: theme.$font-size-medium;
  font-weight: theme.$font-weight-extra-light;
  text-align: center;
}
