@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.faqPage {
  @include flex-justify-center;
}

.listContainer {
  width: theme.$page-width-primary;
  max-width: 1420px;
  margin: theme.$spacing-extra-large 0;

  @include flex-column-align-center;

  @include media.tablet-down {
    margin: theme.$spacing-large 0;
  }
}

.title {
  margin-bottom: theme.$spacing-semi-regular-semi-large;
  text-align: center;
  color: theme.$branding-color-tertiary;

  @include typography-large-semibold;

  @include media.tablet-down {
    @include typography-semilarge-semibold;
  }
}

.text {
  margin-bottom: theme.$spacing-large;
  text-align: center;

  @include typography-semilarge-normal;
  font-weight: theme.$font-weight-light;

  @include media.tablet-down {
    font-size: theme.$font-size-medium;
  }
}
