@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.faqPageWrapper {
  @include flex-justify-center;
}

.faqPage {
  @include flex-column-align-center;

  width: theme.$page-width-primary;
  margin: 60px 0;
}

.questionsAndAnswers {
  max-width: theme.$section-width-primary;
}

.question {
  margin-bottom: theme.$spacing-semi-regular-semi-large;
  font-size: theme.$font-size-medium;
  font-weight: theme.$font-weight-normal;
  text-align: center;
}

.answer {
  margin-bottom: theme.$spacing-large;
  font-size: theme.$font-size-medium;
  font-weight: theme.$font-weight-extra-light;
  text-align: center;
}
