@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.wrapper {
  width: 100%;

  @include flex-column-align-center;
}

.container {
  margin-bottom: theme.$spacing-semi-regular-large;
}

.title {
  align-items: center;
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-semi-large;
  font-weight: theme.$font-weight-semibold;
  text-align: center;
  text-transform: uppercase;
}

.cards {
  display: flex;
  justify-content: space-between;

  @include media.tablet-down {
    flex-direction: column;
    align-items: center;
  }
}

.teaserSingleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: theme.$spacing-semi-regular-large;

  @include media.tablet-down {
    width: 40%;
  }

  @include media.mobile {
    width: 100%;
  }
}

.teaserCardTitle {
  display: flex;
  align-items: flex-start;
  min-height: 48px;
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-medium;
  font-weight: theme.$font-weight-medium;
  text-align: center;
}

.teaserCardText {
  display: flex;
  align-items: center;
  height: fit-content;
  min-height: 120px;
  margin-bottom: theme.$spacing-small;
  overflow: hidden;
  font-family: theme.$font-family-primary;
  font-size: theme.$font-size-semi-medium;
  font-weight: theme.$font-weight-normal;
  text-align: center;

  @include media.fullscreen-down {
    height: 168px;
  }

  @include media.widescreen-down {
    height: 180px;
  }

  @include media.desktop-down {
    height: 240px;
  }

  @include media.tablet-down {
    height: 140px;
  }

  @include media.mobile {
    height: 120px;
  }
}

.iconColumns {
  font-size: theme.$font-size-huge;
}
