@use "#styles/theme" as theme;
@import "#styles/helpers/mixins";

.wrapper {
  min-height: theme.$min-height-page-small;

  @include flex-justify-center;

  .container {
    width: theme.$page-width-primary;

    @include flex-column-all-center;
  }

  .title {
    @include title-text;

    text-align: center;
  }

  .link {
    @include component-title;

    margin-bottom: theme.$spacing-semi-regular;
    text-align: center;
  }
}
