@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.field {
  flex-grow: 1;
  height: 32px;
  margin-right: theme.$spacing-small;
}

.item {
  width: 100%;
  margin-bottom: theme.$spacing-regular;

  @include flex-align-center;
}

.data {
  width: 100%;
  height: 32px;
  margin-right: theme.$spacing-small;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: theme.$border-regular-component;

  @include typography-medium-normal;
}

.property {
  margin-right: theme.$spacing-smallest;
  font-size: theme.$font-size-medium;
}

.value {
  font-size: theme.$font-size-small;
}

.hideForSemantic {
  @include hide;
}
