@use "@/styles/theme" as theme;
@use "@/styles/media" as media;
@import "@/styles/helpers/mixins";

.card {
  width: 100%;

  @include flex-column-all-center;

  @include media.mobile {
    margin: 0 theme.$spacing-semi-regular-large;
  }
}

.body {
  display: flex;
  justify-content: space-evenly;
  width: theme.$page-width-primary;
  max-width: 920px;

  @include media.desktop-down {
    justify-content: space-between;
    width: 76%;
  }

  @include media.tablet-down {
    justify-content: space-between;
    width: 86%;
  }

  @include media.desktop-down {
    width: 100%;

    @include flex-column-align-center;
  }
}

.imageContainer {
  width: 400px;
  height: 400px;
  margin-right: theme.$spacing-semi-regular-semi-large;

  @include flex-all-center;

  @include media.desktop-down {
    margin-right: 0;
    margin-bottom: theme.$spacing-semi-regular-semi-large;
  }

  @include media.mobile {
    width: 200px;
    height: 200px;
  }
}

.image {
  user-select: none;

  @include responsive-image;
}

.data {
  width: 50%;
  height: auto;
  flex-wrap: wrap;
  font-family: theme.$font-family-primary;

  @include flex-column-all-center;

  @include media.desktop-down {
    width: 100%;
  }
}

.list {
  width: 100%;

  @include media.desktop-down {
    @include flex-column;
    align-items: flex-start;
  }
}

.listItem {
  height: auto;
  user-select: none;
  overflow-wrap: break-word;
}

.categoryLink {
  display: inline-block;
  color: theme.$branding-color-primary;

  @include typography-semilarge-semibold;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: theme.$branding-color-tertiary;
    text-underline-offset: 0.125rem;
  }
}

.price {
  color: theme.$branding-color-tertiary;

  @include typography-huge-semibold;

  @include media.mobile {
    font-size: theme.$font-size-extra-large;
  }
}

.nameContainer {
  margin-bottom: theme.$spacing-regular;
}

.name {
  color: theme.$branding-color-tertiary;

  @include typography-huge-semibold;

  @include media.mobile {
    font-size: theme.$font-size-extra-large;
  }
}

.size {
  color: theme.$branding-color-tertiary;

  @include typography-semimedium-normal;
}
.description {
  color: theme.$branding-color-tertiary;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;

  @include typography-semimedium-normal;
}

.priceInfo {
  font-size: theme.$font-size-smallest;
  color: theme.$branding-color-tertiary;
}

.buttonContainer {
  display: flex;
  gap: theme.$spacing-regular;
  width: 100%;
}

.separator {
  width: 100%;
  margin: theme.$spacing-semi-regular 0px;
  color: theme.$font-color-light;

  @include flex-align-center;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-top: 1px solid theme.$background-color-hover-secondary;
  }
}

.descriptionContainer {
  margin-bottom: theme.$spacing-semi-regular;
  width: 100%;
}
