@use "#styles/theme" as theme;
@use "#styles/media" as media;
@import "#styles/helpers/mixins";

.ordersItem {
  display: flex;
  margin: theme.$margin-order-list 0;

  @include media.tablet-down {
    @include flex-column-align-center;
  }
}

.details {
  margin-right: theme.$spacing-semi-huge;

  @include media.mobile {
    margin-right: 0;
    margin-bottom: theme.$spacing-regular;
  }
}

.detailsItem {
  display: flex;
}

.property {
  margin-right: theme.$spacing-smallest;

  @include property-font-secondary-semi-bold;
}

.value {
  @include property-font-secondary-regular;
}

.cardsList {
  justify-content: space-evenly;
  width: 600px;

  @include media.desktop-down {
    width: 480px;
  }

  @include flex-column;

  @include media.mobile {
    width: 100%;
  }
}

.noItems {
  @include property-font-secondary-semi-bold;
}
